Flask==3.0.0
flask-cors==4.0.0
huggingface_hub
httpx==0.27.2
python-dotenv==1.0.0
requests==2.31.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchaudio
transformers==4.57.1
accelerate
vosk
coqui-tts[codec,languages]
